* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  text-align: center;
  font-family: "Euclid Circular A", "Poppins";
  padding: 10rem;
}

.vaporeon{
  background-color: #54ddef;
}

.eevee{
  background-color: rgb(244 169 24 / 100%);
}

.jolteon{
  background-color: #ffe670;
}

.flareon{
  background-color: #ee8764;
}

.espeon{
  background-color: #e5d6eb;
}

.umbreon{
  background-color: #747e87;
}

.leafeon{
  background-color: #5acea7;
}

.glaceon{
  background-color: #4fcffc;
}

.sylveon{
  background-color: #fa638c;
}

.accordion,
.accordion .item,
.accordion .item .content,
.accordion .item .content img,
.accordion .item .content h2,
.accordion .item .content p{
  transition: .3s;
}

.accordion {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 600px;
  padding: 50px;
}

.accordion .item {
  overflow: hidden;
  border-radius: 100px;
  cursor: pointer;
}

.accordion .item:hover {
  scale: 1.5;
  z-index: 10;
  border-radius: 20px;
  min-width: 300px;
}

.accordion .item .badge{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion .item .badge img{
  width: 80%;
}

.accordion .item:hover .badge {
  visibility: hidden;
}

.accordion .item .content{
  visibility: hidden;
}

.accordion .item .content h2{
  font-family: 'Oswald', sans-serif;
}

.accordion .item .content p{
  font-family: 'Karma', serif;
  font-size: 1.2rem;
}

.accordion .item:hover .content {
  visibility: visible;
  z-index: 11;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.accordion .item:hover .content img{
  width: 100%;
  height: 60%;
  object-fit: cover;
}


